<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Test jstl.</display-name>
    <description>
    </description>

    <servlet>
        <servlet-name>IncludeJsp</servlet-name>
        <jsp-file>/include.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>IncludeJsp</servlet-name>
        <url-pattern>/include</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleTest</servlet-name>
        <jsp-file>/simpleTag.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleTest</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleTest2</servlet-name>
        <jsp-file>/simpleTag2.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleTest2</servlet-name>
        <url-pattern>/simple2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleTest3</servlet-name>
        <jsp-file>/simpleTag3.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleTest3</servlet-name>
        <url-pattern>/simple3</url-pattern>
    </servlet-mapping>
</web-app>

